li {
    background: #e8e8f6;
    padding: 0.2em;
    border-radius: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-contact-btns {
    display: flex;
    flex-direction: row;
    align-items: center;

    button,
    a {
        border-radius: 50%;
        cursor: pointer;
        font-size: 1em;
        background-color: inherit;
        border: none;
    }

    a img {
        width: 1.6em;
        padding-inline: 0.3em;
    }

    img {
        width: 1.5em;
        border-radius: 50%;
        padding-block: 0.1em;
    }

    :hover {
        background-color: #d9dcdf;
    }
}

.hide-btn {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s ease-in-out;
}

:hover .hide-btn {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 640px) {
    img {
        width: 4em;
        border-radius: 50%;
    }

    li {
        align-items: center;
        flex-direction: row-reverse;
        border-bottom: 1px solid #ccc;
        padding: 0.5em;
        padding-block: 1em;
    }

    // :hover .hide-btn {
    //     // visibility: visible;
    //     // opacity: 1;
    // }

    .contact-preview-header {
        flex-direction: row;
        align-items: center;
        margin-inline-start: 0.5em;

        button {
            width: 100%;

            img {
                padding-block-start: 0.2em;
            }
        }
    }

    .edit-contact-btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        .hide-btn {
            visibility: visible;
            opacity: 1;

            img {
                width: 1.8em;
            }
        }

        a {
            // padding: 0.5em;
            // border-radius: 50%;
        }

        :hover {
            background-color: #d9dcdf;
        }
    }

}