<section class="contact-preview">
    <a routerLink="/contact/{{contact._id}}" style="text-decoration: none; color: inherit;">
        <li>
            <section class="contact-preview-header flex space-between width-full">
                <section>
                    <span>
                        {{contact.name}}
                    </span>
                    <span showOnMoblie>
                        {{contact.phone}}
                    </span>
                </section>
                <section class="edit-contact-btns">
                    <a (click)="stopP($event)" routerLink="edit/{{contact._id}}" class="edit-link hide-btn">
                        <img src="https://res.cloudinary.com/dqnsrtyxu/image/upload/v1727118251/edit_md6wcb.png"
                            alt="✏️">
                    </a>
                    <button class="delete-btn hide-btn" (click)="confirmAndRemove($event, contact._id)">
                        <img src="https://res.cloudinary.com/dqnsrtyxu/image/upload/v1727118244/delete_rcgktp.png"
                            alt="X">
                    </button>
                </section>
            </section>

            <img [src]="getImage(contact.imgID)" alt="Profile Picture">
        </li>
    </a>
</section>