<section class="contact-details" *ngIf="contact$ |async as contact">
    <section class="back-edit-container">
        <button (click)="onBack()">
            <img src="https://res.cloudinary.com/dqnsrtyxu/image/upload/v1725359112/arrow-left-bold_veibjr_gyhloz.svg"
                alt="X">
        </button>
        <!-- <a [routerLink]="['/contact/edit', contact._id]" class="edit-link">✏️</a> -->
    </section>
    <section class="info-transfer-container">
        <section class="contact-info-container" *ngIf="user$ | async as user">
            <img [src]="getImage(contact.imgID)" alt="Profile Picture">

            <span>{{contact.name}}</span>

            <p>{{contact.phone}}</p>
            <p>{{contact.email}}</p>

            <transfer-fund (transferCoins)="onTransferCoins($event)" [contact]="contact" [maxCoins]="user.coins">
            </transfer-fund>
        </section>

        <section *ngIf="contactMoves$ | async as moves">
            <move-list [contact]="contact" [moves]="moves"></move-list>
        </section>
    </section>
</section>