.contact-details {
    .edit-modal {
        background-color: #fff;
        border-radius: .875em;
        box-shadow: 0 8px 28px rgba(0, 0, 0, .28);
        height: auto;
        left: 50%;
        position: fixed;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 37.5em;
        z-index: 51;
    }
}