.contact-details {
    .info-transfer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;

        .contact-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 16em;
                border-radius: 50%;
            }

            span {
                font-size: 2em;
            }
        }
    }

    .back-edit-container {
        display: flex;
        background-color: #a4baba;
        flex-direction: row;
        padding: 0.4em;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5em;
        position: sticky;
        top: 79px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;

        a {
            border-radius: 50%;
            padding: 0.3em;
            cursor: pointer;
        }

        button {
            border-radius: 50%;
            cursor: pointer;
            background-color: inherit;
            border: none;
        }

        img {
            width: 1.4em;
            border-radius: 50%;
            padding-block: 0.25em;
        }

        :hover {
            background-color: #d9dcdf;
        }

    }
}

@media (max-width: 640px) {
    .contact-details {
        .info-transfer-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}